body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin-top: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    /* 세로 방향으로 정렬 */
    height: 300px;
    /* 명시적으로 높이를 설정 */
}

.quote-box {
    font-size: 24px;
    text-align: center;
    color: #333;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* 남은 공간을 차지하도록 설정 */
    width: 100%;
    /* 가로로도 중앙에 맞추기 위해 추가 */
}