html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* 기본적으로 스크롤을 숨깁니다. */
}

.scrollable-container {
    height: calc(100vh - 32px);
    /* 뷰포트 높이에서 패딩(위아래 합쳐서 32px)을 뺀 값 */
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

#gallery p {
    padding: 20px;
    /* p 요소의 위, 아래, 좌우 간격을 설정 */
    margin: 0;
    /* 기본 마진을 제거하여 padding만 적용 */
    background-color: #f9f9f9;
    /* 배경 색상 추가 (선택 사항) */
    border-radius: 8px;
    /* 모서리를 둥글게 추가 (선택 사항) */
    line-height: 1.6;
    /* 행간을 넓혀 읽기 쉽게 조정 */
}